.hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/fonn.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: var(--footer-color);
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 200px 0;
  }
  
  .hero-title {
    margin-top: 0;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    max-width: 695px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--white-color);
  }
  
  .hero-btn {
    cursor: pointer;
    font-family: inherit;
    font-weight: 700;
    padding: 10px 32px;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    border-radius: 4px;
    border: 1px solid transparent;
    color: var(--white-color);
    background-color: var(--accent-color);
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .hero-btn:hover,
  .hero-btn:focus {
    background-color: var(--white-color);
    color: var(--accent-color);
    border: 1px solid var(--accent-color);
  }
  